<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <title>api</title>
    <link rel="stylesheet" type="text/css" href="http://demo.polyv.net/xieyp/demo-table.css" />
</head>

<body>
    <h2>新建API</h2>
    <form action="/create/exec" method="POST">
        <table class="bordered" id = "tableA">
            <thead>
                <tr>
                    <th>#</th>
                    <th>参数</th>
                    <th>值</th>
                    <th>是否用于计算sign(1/0)</th>
                </tr>
            </thead>
            <tr>
                <td>1</td>
                <td><input type="text" name="1_name" value="url" size="40"></td>
                <td>
                    <input type="text" name="1_value" value="http://api.polyv.net/v2/cata/size" size="40">
                </td>
                <td><input type="text" name="1_checkbox" value="默认" size="10"></td>
            </tr>
             <tr>
                <td>2</td>
                 <td><input type="text" name="2_name" value="post/get" size="40"></td>
                 <td>
                     <input type="text" name="2_value" value="post" size="40">
                 </td>
                 <td><input type="text" name="1_checkbox" value="默认" size="10"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><input type="text" name="3_name" value="secretkey" size="40"></td>
                <td>
                    <input type="text" name="3_value" value="qW4nvoVVi5" size="40">
                </td>
                <td><input type="text" name="1_checkbox" value="默认" size="10"></td>
            </tr>
            <tr>
                <td>4</td>
                <td><input type="text" name="4_name" value="userid" size="40"></td>
                <td>
                    <input type="text" name="4_value" value="7ca55a3c6f" size="40">
                </td>
                <td><input type="text" name="1_checkbox" value="1" size="10"></td>
            </tr>
            <tr>
                <td>5</td>
                <td><input type="text" name="5_name" value="cataid" size="40"></td>
                <td>
                    <input type="text" name="5_value" value="1" size="40">
                </td>
                <td><input type="text" name="1_checkbox" value="1" size="10"></td>
            </tr>
            <tr>
                <td>6</td>
                <td><input type="text" name="6_name" value="ptime" size="40"></td>
                <td>
                    <input type="text" name="6_value" value="" size="40">
                </td>
                <td><input type="text" name="1_checkbox" value="1" size="10"></td>
            </tr>
            <tr>
                <td>7</td>
                <td><input type="text" name="7_name" value="" size="40"></td>
                <td>
                    <input type="text" name="7_value" value="" size="40">
                </td>
                <td><input type="text" name="1_checkbox" value="" size="10"></td>
            </tr>
            <tr>
                <td>8</td>
                <td><input type="text" name="8_name" value="" size="40"></td>
                <td>
                    <input type="text" name="8_value" value="" size="40">
                </td>
                <td><input type="text" name="1_checkbox" value="" size="10"></td>
            </tr>
            <tr>
                <td>9</td>
                <td><input type="text" name="9_name" value="" size="40"></td>
                <td>
                    <input type="text" name="9_value" value="" size="40">
                </td>
                <td><input type="text" name="1_checkbox" value="" size="10"></td>
            </tr>
        </table>
        <tr>
                <td></td>
                <td>提交</td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
        </tr>
    </form>
</body>

</html>