<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>
    <a href="/api">首页</a><br>
</span>
<button class='btn' onclick="appendV2();" >新增一行参数</button><br>
<span id="params">
    <form action="/create/exec" method="POST">
        <span id = "formA">
        <input type="text" name="name" value="getCataSize" size="10"><input type="text" name="description" value="根据目录id获取空间" size="50"><br>
        <input type="text" name="1_name" value="url" size="10"><input type="text" name="1_value" value="http://api.polyv.net/v2/cata/size" size="50"><br>
        <input type="text" name="2_name" value="post/get" size="10"><input type="text" name="2_value" value="post" size="50"><br>
        <input type="text" name="3_name" value="secretkey" size="10"><input type="text" name="3_value" value="qW4nvoVVi5" size="50"><br>
        </span>
        <input type="submit" value="提交">
    </form>
</span>


<script>
    function changeT() {
        document.getElementById("hey_label").innerHTML = "yo";
        document.getElementById("hey_text").value="yo";
    };
    var count = 3;
    function append() {
        count++;
        var formA = document.getElementById("formA");
        formA.innerHTML += "<input type=\"text\" name=\""+count+"_name\" value=\""+"\"  size=\"10\">";
        formA.innerHTML += "<input type=\"text\" name=\""+count+"_value\" value=\""+count+"\"  size=\"50\"><br>";
    };
    function appendV2(){
        count++;
        // span = document.querySelector('#formA');
        var span = document.getElementById("formA");
        var newInput1 = document.createElement("input");
        var newInput2 = document.createElement("input");
        var br = document.createElement("br");
        newInput1.name = count+"_name";
        newInput1.size = 10;
        newInput2.name = count+"_value";
        newInput2.size = 50;
        span.appendChild(newInput1);
        span.appendChild(newInput2);
        span.appendChild(br);
    };
</script>
</body>
</html>