<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>



<script src='//player.polyv.net/script/polyvplayer.min.js'></script>
<div id='plv_7ca55a3c6fb1f445d9ab845be127b10b_7'></div>
<script th:inline="javascript">
    var player = polyvObject('#plv_7ca55a3c6fb1f445d9ab845be127b10b_7').videoPlayer({
        'width':'600',
        'height':'338',
        'vid' : '7ca55a3c6fb1f445d9ab845be127b10b_7' ,
        'code' : 'myRandomCodeValue',
        'forceH5':true
    });
</script>


<script type="text/javascript">

    window.s2j_onVideoSeek = function(before,after){
        player.j2s_seekVideo(before);
        console.log("hey");

    }


</script>



</body>
</html>