<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title></title>
</head>
<style>
    body{
        margin:0;
        padding:0;
    }
    #test{
        max-width:900px;
    }

</style>
<body>
<script src="https://libs.baidu.com/jquery/1.11.1/jquery.js"></script>
<script src='//player.polyv.net/script/polyvplayer.min.js'></script>
<div id="test">
    <div id='player'></div>
</div>
<script th:inline="javascript">
    var width = document.getElementById("test").scrollWidth;
    var height = width*0.5625; // 16/9 = 0.5625;
    var player = polyvObject('#player').videoPlayer({
        'width':width,
        'height':height,
        'vid' : "7ca55a3c6f84422e3c852a2bf5de56ca_7",
        'forceH5':true,
        'session_id':'XYP',
        'flashvars':{'param2':'flash'},//flash
        'params':{'param2':'HTML5'},//H5
        'playsafe':[[${token}]],
        'ts':[[${ts}]],
        'sign':[[${sign}]]
    });

    function getToken(vid){
        //向服务器/getToken发起请求获取token返回
        var signinfo;
        jQuery.ajax({
            type: "get",
            async : false,
            dataType: "json",
            url: "getToken?vid="+vid,
            success: function(data){
                signinfo = data;
            }
        });
        return signinfo;
    }

    function nextVideo(vid){
        //取得token等并调用player.changeVideo方法
        var json = getToken(vid);
        var ts = json.ts;
        var sign = json.sign;
        var token = json.token;
        const option = {
            vid: vid,
            autoplay: true,
            ts: ts,
            sign: sign,
            playsafe: token,
            //statistics: {}  // 和选项中statistics一样，会覆盖掉原本的统计参数
        };
        player.changeVid(JSON.stringify(option));
    }

</script>
<button class='btn' onclick="nextVideo('7ca55a3c6fde1f2833c9d6d235395020_7');" >视频1</button><br> <br>
<button class='btn' onclick="nextVideo('7ca55a3c6f33c7950efa7d33dadf30e5_7');" >视频2</button><br> <br>
<button class='btn' onclick="nextVideo('7ca55a3c6f4d26ec4cf90d324a31c24a_7');" >视频3</button><br> <br>

</body>
</html>